
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



.navbar {
    background-color: #559ead !important;
}

.navbar-brand{
    margin-left: 100px;
}

.nav-item a{
    font-size: 25px;
    margin-left: 70px;
    color: white !important;
}

/* start main-header */

section{
 
    /* background-color: #ffffff; */
}


.main-left{
    margin-left: 20px;
    margin-top: 95px;
    color: #944867;
}

.main-left h1{
    font-size: 150px; 
       
 } 

 .main-left h2{
    padding-top: 20px;
    font-size: 90px;
    padding-bottom: 55px; 
   
}
.main-left p{
font-size: 25px;
line-height: 30px;

}  

.main-left button{
    margin-top: 28px;
    border: none;
    border-radius: 10px;
    padding: 10px;
    background-color: #944867;
    color: white;
    transition: all 0.3s;
    cursor: pointer;
}
.main-right img{
    margin-top: 90px;
}

            /* 2nd section part start */

 .bg{
    background-color: #559ead;
    
 }
 .about h1{
    margin-top: 150px;
    font-size: 60px;
    text-transform: uppercase;
 }

 .about h2{
    margin-top: 40px;
    font-size: 20px;
    line-height: 24px;
 }
 .about p{
    padding-top: 20px;
    font-size: 20px;
 }

 .about ul li{
    margin-top: 70px;
    margin-right: 50px;
    display: inline-block;
 }
 .about ul li a{
    text-decoration: none;
    font-size: 25px;
    color: #ffffff; 
  }
  .about ul li a i{
  
    padding: 7px 10px;
border-radius: 100px;
  }
  .about ul li a i:hover{
    background: #eb5757;
  }
         /* 3rd section part start */

 .choice{
background-color: #ffffff;

 }
 .choice-us h1{
    
    font-size: 60px;
    text-transform: uppercase;
    padding-top: 150px;
    color: #865875;
    margin-bottom: 50px;
 }
 .choice-us ul li{
    font-size: 25px;
    padding: 0 0 40px 45px;
    position: relative;
 }
 .choice-us ul li i{
    
    position: absolute;
    left: 0;
 }
 .choice-us button{
    margin-top: 35px;
    background: #944867;
    color: #ffffff;
    height: 40px;
    width: 140px;
    font-weight: bold;
    font-size: 20px;
    border-radius: 20px;
    border: none;
 }
 .choice-img{
    float: right;
 }
        /* 4rd section part start */
.slogan{
  text-align: center;
 }
.slogan h1{
    color: #944867;
    font-size: 40px;
    font-weight: bold;    
}
.slogan h3{
    font-size: 35px;
    padding-bottom: 20px;
    color: #865875;
}
.slogan-text{
   text-transform: uppercase;
   padding-top: 120px;
   font-size: 40px;
   color: #865875;
   padding-bottom: 70px;
}
.treatment{
   text-align: center;
   margin-bottom: 90px;
}
.treatment h1{
   text-transform: uppercase;
   font-weight: bold;
   padding-top: 25px;
   padding-bottom: 20px;
}

        /* 5rd section part start */

.activity{
   background-color: #559ead;
}
.activity-text{
   padding-left: 12%;
   margin-top: 25%;
}
.activity-text h2{
   font-size: 40px;
   color: #ffffff;
   font-weight: bold;
   margin-bottom: 10%;
}
.activity-text h3{
   font-size: 25px;
   color: #ffffff;
   margin-bottom: 10%;
}
.activity-text button{
   color: #ffffff;
   border: none;
   padding: 10px;
   border-radius: 20px;
   background-color: #944867;
}
.yoga{
   margin-top: 20%;
}
.yoga h2{
   font-size: 60px;
   font-weight: bold;
   padding-bottom: 10%;
}
.yoga ul li{
   font-size: 25px;
   padding: 0 0 40px 45px;
   position: relative;
}
.yoga ul li i{
   
   position: absolute;
   left: 0;
}
        /* 6rd section part start */

.center-shop{
   text-align: center;
   text-transform: uppercase;
   font-size: 50px;
   font-weight: bold;
   margin-bottom: 60px;
}
.yoga-shop img{
   display: block;
   margin-left: auto;
   margin-right: auto;
 }
 .price{
   text-align: center;
 }
 .price h1{
   padding-top: 25px;
   font-size: 50px;
 }
 .price h2{
   padding-top: 20px;
   font-size: 20px;
 }
 .price button{
   border: none;
   color: #ffffff;
   border: none;
   padding: 6px 15px 6px 15px;
   border-radius: 20px;
   background-color: #eb5757;
   text-transform: uppercase;
   margin-top: 40px;
 }